@use '../../../styles/abstracts/variables' as *;
@use '../../../styles/abstracts/mixins' as *;

.dashboardLayout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex: 1;
  position: relative;
  padding-top: $header-height;
}

.mainContent {
  flex: 1;
  margin-left: $sidebar-width;
  padding: 0;
  background: $grey-50;
  min-height: calc(100vh - #{$header-height});
  overflow-x: hidden;
  
  @media (max-width: 1024px) {
    margin-left: 0;
    padding: 0;
  }
}
